footer {
  background: $dark-blue;
  color: $white;
  padding: 50px 40px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-width: 1200px;
  margin: auto;
  gap: 40px;

  a {
    color: $white;
    text-decoration: none;
    display: block;
    margin-bottom: 8px;
  }

  input {
    width: 180px;
    padding: 8px;
    border-radius: 4px;
    border: none;
  }

  button {
    @include btn($gold, $dark-blue);
    margin-top: 10px;
  }
}
