@charset "UTF-8";

body{
    background-color: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

.logo{
    width: 300px;
    margin-top: 20px;
}

.cliente{
    background: #111;
    margin: 20px auto;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    border: 1px solid red;
}