.services {
  background-image: url("../img/techo-cristal.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  padding: 100px 40px;
  color: white;
  text-align: center;

  h3 {
    font-size: 2.2rem;
    margin-bottom: 15px;
    font-weight: 600;
    text-shadow: 0 2px 5px rgba(0,0,0,0.4);
  }

  p {
    max-width: 650px;
    margin: 0 auto 25px auto;
    font-size: 1.1rem;
    line-height: 1.6;
    text-shadow: 0 1px 3px rgba(0,0,0,0.4);
  }

  .btn.secondary {
    background-color: $gold;
    color: white;
    padding: 12px 28px;
    border-radius: 4px;
    font-weight: 600;
    display: inline-block;
    box-shadow: 0 3px 5px rgba(0,0,0,0.3);

    &:hover {
      background-color: darken($gold, 10%);
    }
  }
}
