.team {
  background: $light-bg;
  padding: 80px 0;

  text-align: center;

  h3 {
    font-size: 28px;
    max-width: 600px;
    margin: auto;
    margin-bottom: 40px;
    line-height: 1.4;
  }

  .team-members {
    display: flex;
    justify-content: center;
    gap: 40px;

    article {
      width: 260px;
      text-align: center;

      img {
        width: 100%;
        border-radius: 8px;
      }

      h4 {
        margin-top: 10px;
        font-size: 18px;
      }

      p {
        font-size: 14px;
      }
    }
  }
}
