.pokemon-card{

width: 200px;
height: 300px;
background-color: peru;
color: azure;
padding: 10px;
border: 3px solid black;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items: center;

.text{
    margin: 0%;
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}

.pokemon-img{
    width: 120%;
    margin: 10px 0;
}



}