main {

    font-family: 'Roboto Mono', monospace;
    position: relative;

}

.circle {


    /* Borde redondo */
    border-radius: 50%; 


    /* Ancho y alto de 120 px */
    width: 120px;
    height: 120px;

    /* Borde de un pixel que tambien hacemos blanco */
    border: 1px solid #fff;

    color: #fff;

    /* Para centrarlo le damos un margin auto a los costados  */
    margin: 50px auto;

    /* Centramos el contenido */
    display: flex;
    justify-content: center;
    align-items: center;

    /* Flex direction column hace que aparezcan arriba 
    el cronómetros y abajo los controles*/


    flex-direction: column;
}

/* El circle tiene el pseudoelemento before */
.circle::before {
/* El content vacío es para que el before se vea */
content: '';
border-radius: 50%;
/* Zindex para que el circulo este detrás del contenido a modo de base */
z-index: -1;
/* Para centrarlo en el mismo lugar que el cronómetro  */
position: absolute;
width: 160px;
height: 160px;
/* Lo posicionamos en el medio y le restamos la mitad de su ancho */
left: calc(50% - 80px);
top: calc(50% - 80px);
background-color: #1d1d1d;
}


.seconds-sphere {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #fff;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
    animation: rotacion 60s linear infinite; 
    animation-play-state: paused;
}

/* Gracias a esto se logra un movimiento de traslación/rotación respecto de un eje 
El punto de pivote está en el centro  */

@keyframes rotacion {
  from { transform: rotate(-90deg) translateX(60px); }
  to { transform: rotate(270deg) translateX(60px); }
}


.buttons{
margin-top: 10px;
display: inline-flex;
}


.paused{
    height: 10px;
    border-width: 5px 0 5px 10px;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 15px;
    border-color: transparent transparent transparent #fff;
    transition: 100ms all ease;
    will-change: border-width;
    border-style: solid;
}


.running{

border-style: double;
border-width: 0 0 0 10px;

}


.stop {

    background-color: #fff;
    height: 10px;
    width: 10px;
    cursor: pointer;

}